@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-section-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: url("/images/heroBg.webp"),
    -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: color;
}

.border-color-blue:hover {
  box-shadow: inset 0 -4px 0 0 #0387ff;
}

/* ===========================Custom styles for react-responsive-carousel======================== */
.carousel .control-dots {
  margin: 39px 40px !important;
  text-align: left !important;
}

.carousel .control-dots .dot {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0) !important;
  background: transparent !important;
  width: 14px !important;
  height: 14px !important;
  border: 1px solid white !important;
}

.carousel .control-dots .dot.selected {
  color: red !important;
  background: #00b694 !important;
  border: none !important;
}
